@font-face
  font-family 'Gill Sans'
  src url('~@/assets/fonts/GillSans-UltraBold.woff2') format('woff2'), url('~@/assets/fonts/GillSans-UltraBold.woff') format('woff')
  font-weight 800
  font-style normal


@font-face
  font-family 'Hobo Std'
  src url('~@/assets/fonts/HoboStd.woff2') format('woff2'), url('~@/assets/fonts/HoboStd.woff') format('woff')
  font-weight 500
  font-style normal


