// colors

$red = #FF483B
$pink = #FB85ED
$blue = #413A8F
$green = #2FA666
$orange = #FF7300
$white = #FFFFFF

$colors := {
  red: $red,
  pink: $pink,
  blue: $blue,
  green: $green,
  orange: $orange,
  white: $white,
}

// default spacing

$space = 7px