doctype html
html(lang='fr')
  head
    meta(charset="utf-8")

    include includes/rich-data.pug

    title Ce Murmure Festival 2018

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js")

  body
    nav.green--bg.blue--text.infos-pratiques
      include includes/nav-content.pug

    section.green--bg.white--text
      .content.col-layout--2
        .col--1
          .col-content.py-10.my-6
            h2 VENIR
            h4.big.mt-7 PARC DES QUINCONCES
              br
              | et Esplanade René Cassin
              br
              | 11, rue des quinconces,
              br
              | 21140 Semur-en-Auxois
              br
              br
              | Bus
              br
              | ligne 49 arrêt quinconces
              br
              br
              | Train (Gare SNCF)
              br
              | Les Laumes-Alésia (16km)
              br
              | ou Montbard (18km)
              br
              | puis Bus ligne 49

        .col--1
          .col-content.py-10.my-6
            h2 DORMIR
            h4.big.mt-7 Camping Gratuit !
              br
              | Il se situe à quelques pas :  au Chemin des Enlerys à Semur.
              br
              br
              | Comme on n’est pas non plus complètement perdu, il a aussi  des hotels, AirBnb...
            br
            br
            br
            h2 SE GARER 
            h4.big.mt-7 C'est Gratuit !
              br
              | Mais venez à vélo plutôt et voyez comme la Bourgogne est belle 🚲

    section.blue--bg.white--text
      .content.col-layout--2
        .col--1
          .col-content.py-7.mb-2
            h2 LES HORAIRES
            h4.big.mt-7 Vendredi 24 juillet : 18h - 2h
              br
              | Samedi 25 juillet : 14h - 2h
              br
              br
              | Camping
              br
              | Ouverture des portes vendredi 25 juillet à midi et fermeture dimanche 26 juillet à 16h.

    section.white--text
      .section-2-bg.col-layout--2
        .col--1.green--bg
          .col-content
        .col--1.red--bg
          .col-content
      .content.col-layout--2
        .col--1.v-sized--90
          a(href='mailto:raspatakouet@gmail.com?subject=Je souhaite être bénévole !')
            .col-content.green--bg.flex--col.v-sized--content
              h4.big.center--text DEVENEZ
              .benevole!=require('@/assets/typos/benevole.svg')
              h4.big.center--text ÉCRIVEZ-NOUS !
        .col--1.v-sized--90
          a(href='https://www.facebook.com/lacompagniedesagreables', target='_blank')
            .col-content.red--bg.flex--col.v-sized--content
              h4.big.center--text GIVE US JUST A
              .new-window.kiss-kiss!=require('@/assets/pictos/open_new_window.svg')
              .kiss-kiss-img!=require('@/assets/typos/kiss_kiss.svg')
              h4.big.center--text À VOT’ BON COEUR &nbsp;
                span.heart.blue--text ❤

    section.pink--bg.white--text
      .content.col-layout--1
        .col--1
          .col-content.py-7.mb-2
            h2 QUELQUES RÈGLES POUR RESTER MIGNON
            h3.mt-1 ET QU’ON PUISSE RECOMMENCER L’ANNÉE PROCHAINE
            h5.v2.pt-10 Quels sont les objets interdits sur le festival ?
              br
              | Pour le confort de tous : L’introduction d’alcool, et autres contenants (gourdes, verres, bouteilles etc.)
              br
              br
              | Pour la sécurité de chacun : Aucun objet dangereux (objets tranchants, armes, articles de pyrotechnie et d’une manière générale tout objet susceptible de présenter un danger pour le public). Les armes et autres substances explosives, inflammables ou volatiles Les animaux sont interdits sur le festival.
              br
              br
              | Rappel de la législation française : La législation française prohibe tout commerce, consommation, et possession de substances illicites.
              br
              br
              | Les feux de camps et barbecues sur pieds sont-ils autorisés ?
              br
              | Par question de sécurité, les feux de camps et barbecues sont strictement interdits.
              br
              br
              | Le camping est-il surveillé ?
              br
              | Une équipe de sécurité se trouve à votre disposition. Cependant, il vous est demandé ne pas laisser vos effets personnels de valeur dans votre tente.



  footer.blue--bg.white--text
    include includes/footer-content.pug
